<footer class="main-footer">
    <div class="container">
        <section class="footer-legal-section">
            <div class="row align-items-center">
                <div class="col-12 col-md-5 col-xl-4 footer-content-img">
                    <img class="d-md-none" src="{{ 'assets/obelisco/footer/logo-footer-mobile.svg' | url }}"
                        alt="Logo GCBA" height="48" />
                    <img class="d-none d-md-inline" src="{{ 'assets/obelisco/footer/logo-footer.svg' | url }}"
                        alt="Logo GCBA" height="40" />
                    <img class="img-vamos-ba" src="{{ 'assets/obelisco/footer/logo-footer-ba.svg' | url }}"
                        alt="Vamos Buenos Aires" />
                </div>

                <div class="col-12">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="https://boletinoficial.buenosaires.gob.ar">Boletín
                                oficial</a></li>
                        <li class="list-inline-item"><a
                                href="https://buenosaires.gob.ar/inicio/terminos-y-condiciones">Términos y
                                condiciones</a></li>
                        <li class="list-inline-item"><a href="https://buenosaires.gob.ar/inicio/privacidad">Política de
                                privacidad</a></li>
                        <li class="list-inline-item"><a
                                href="https://buenosaires.gob.ar/gobierno/transparencia">Transparencia</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <section>
            <div class="footer-license-text">
                Los contenidos de buenosaires.gob.ar están licenciados bajo Creative Commons Reconocimiento 2.5
                Argentina License.
            </div>
        </section>
    </div>
</footer>