<header class="o-header navbar" role="banner">
    <a href="#__main" class="skip-to-main-content-link">Saltar al contenido principal</a>

    <div class="container header-container">
        <a href="https://buenosaires.gob.ar" class="navbar-brand">
            <img class="d-none d-xl-block" src="{{ 'assets/obelisco/logo_ba.svg' | url }}"
                alt="Gobierno de la Ciudad de Buenos Aires" />
            <img class="d-xl-none" src="{{ 'assets/obelisco/logo_ba_mobile.svg' | url }}"
                alt="Gobierno de la Ciudad de Buenos Aires" />
        </a>

        <p style="font-size: 1.5em; margin-bottom: 0;">Estrategia de Apertura de Datos</p>

        <div class="md-search" data-md-component="search"></div>

        <a href="{{ config.repo_url }}" class="btn btn-outline-secondary btn-github"
            style="margin-left:12px; white-space:nowrap;" target="_blank" rel="noopener">
            Ver en GitHub
        </a>
    </div>

    <div class="header-backdrop"></div>
</header>